@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1> Guess Who? </h1>
    <img src="~/Content/images/guesswho.png" alt="guess-who-picture"/>  
</div>

<div class="row">
    <div class="questionBlock col-md-6 panel" >
        <h2>Let's Play</h2>
            <div>
                <button type="button" id="next-question-button"><b>QUOTES</b></button>
                <h6>*click the right answer*</h6>
            </div>
            <div id="question-area" class="questionArea" ><br>
            </div>
    </div>
    
    <div class="answerBlock col-md-6" >    
            <div id="quiz-response" class="answerResponse">
            </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/quizGame.js")
}
