@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quiz Game</h1>
    
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Let's Play</h2>
        <div class="col-md-8">
            <div>
                <button type="button" id="next-question-button">Next Question</button>
            </div>
            <div id="question-area">
        </div>

        </div>


@section Scripts {
    @Scripts.Render("~/Scripts/quizGame.js")
})
        }
